<ion-view title="ตั้งค่าการแจ้งเตือน" id="alarm">
  <ion-content padding="true" class="has-header">
    <div class="button-bar"></div>
    <form class="list">
      <label class="item item-input">
        <span class="input-label">เวลา</span>
        <input type="time" placeholder="">
      </label>
    </form>
    <a ui-sref="centralLibraryKMITL" class="button button-positive  button-block">ตั้งเวลาเตือน</a>
    <a ui-sref="page2" class="button button-assertive  button-block">ยกเลิก</a>
  </ion-content>
</ion-view>