<ion-view title="สถานะการจองห้อง" id="cancel">
  <ion-content padding="true" class="has-header">
    <h4 style="color:#000000;">รายการจองห้อง</h4>
    <form class="list">
      <ion-radio>Study Room No.1 [อนุมัติ]</ion-radio>
      <ion-radio>Study Room No.2[รอการอนุมัติ]</ion-radio>
      <ion-radio>Study Room No.3 [อนุมัติ]</ion-radio>
    </form>
    <div class="button-bar">
      <button class="button button-positive  button-block">ยกเลิกการจองห้อง</button>
    </div>
  </ion-content>
</ion-view>