<ion-view title="สถานะการจองห้อง" id="cancel">
    <ion-header-bar>
      <h1 class="title">สถานะการจองห้อง</h1>
    </ion-header-bar>
    <ion-content>
      <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
      
      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

        <ion-item ng-repeat="item in items" 
                  item="item"
                  href="#/item/{{item.id}}" class="item-remove-animate">
          Item {{ item.id }}
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(item)">
          </ion-delete-button>
          <ion-option-button class="button-assertive"
                             ng-click="edit(item)">
            Edit
          </ion-option-button>
          <ion-option-button class="button-calm"
                             ng-click="share(item)">
            Share
        </ion-item>
          <div class="buttons">
        <button class="button button-block button-assertive"
          ng-click="data.showDelete = !data.showDelete;">ยกเลิกการจอง
          </button>
      </div>
      </ion-list>
    </ion-content>
</ion-view>