<ion-view title="ยืนยันการจอง" id="confirm">
<ion-nav-back-button class="button-clear"></ion-nav-back-button>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list>
        <h2>ห้องสัมนากลุ่มย่อย {{}}</h2>
        <h3>เวลาที่เข้าใช้งาน {{}}</h3>
        <h3>จำนวนผู้เข้าใช้งาน {{}} คน</h3>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <a ui-sref="qRCode" class="button button-positive button-block">ยืนยัน</a>
  </ion-content>
</ion-view>