<ion-view id="forgotpass">
	<ion-nav-bar class="bar-positive" align-title="left"><ion-nav-back-button class="button-clear"></ion-nav-back-button>
		<ion-nav-title>ลืมรหัสผ่าน</ion-nav-title>
	</ion-nav-bar>
	<ion-content has-subheader="false">
	<div class="list">
	<div class="spacer" style="height: 10px;"></div>
	 <h3 style="text-align: center;">กรุณากรอก Email ที่ทำการสมัคร</h3>
 			<label class="item item-input item-floating-label">
              <span class="input-label label-block">Email</span>
              <input type="Email" ng-model="user.password" placeholder="Email">
            </label>
  	</div><button class="button button-block">
      Submit
    </button>
	</div>
	<div style="margin: 5%;">&emsp;ระบบจะส่งรหัสผ่านใหม่ไปให้ท่าน ท่านสามารถเปลี่ยนรหัสผ่านใหม่ได้ โดยการเลือกเปลี่ยนที่ หน้าบัญชีของฉัน>เปลี่ยนรหัสผ่าน</div>
	</ion-content>
</ion-view>