<ion-view view-title="เลือกประเภทห้องที่ต้องการจอง" id="search">
  <ion-content>
 <div class="spacer" style=" height: 5px;"></div>
    <form class="list">
    <label class="item item-select">
        ห้อง
      <select ng-model="sroom">
         <option value="$">ทั้งหมด</option>
        <option value="seminar">สัมนากลุ่มย่อย</option>
        <option value="meeting">ห้องประชุม</option>
      </select> 
      </label>
      <label class="item item-input">
        <span class="input-label">วันที่เข้าใช้งาน</span>
        <input type="date" ng-model="sday">
      </label>
      <label class="item item-input">
        <span  class="input-label">เวลาที่เข้าใช้งาน</span>
        <input ng-model="stime" type="time">
      </label>
      <label class="item item-select">
        <span class="input-label">จำนวนผู้เข้าใช้งาน</span>
        <select>
          <option value="1" ng-model="susenum">1</option>
        </select>
      </label>
    </form>
    <div class="padding">
	<button class="button button-block button-positive" ng-click="setfilter()">ค้นหา</button>
	</div>
</ion-content>
</ion-view>